.page-footer {
    padding: 30px;
    height: 10px;
    margin-top: 43px;
}

footer {
    color: #fff;
    background: linear-gradient(to bottom right,#89b5ab, #56867a);
    font-family: 'Pacifico', cursive;
}