.page-footer {
    padding: 30px;
    height: 10px;
    width: 1150px;
    margin-top: 43px;
}

footer {
    color: #fff;
    background: linear-gradient(to bottom right,#89b5ab, #56867a);
    font-family: 'Open Sans', sans-serif;
    opacity: 0.7;
}