form {
   margin-left: 100px;
}

#checkbox {
    display: inline;
}

.btn {
    margin-left: 800px;
}

body { 

    background-image: "/client/src/images/background-border-brown-628241.jpg";
    background-color: #cccccc8f;
    font-family: 'Pacifico', cursive;
   }