.nav-wrapper {
    margin-top: -100px;
    height: 280px;
}

nav {
    color: #fff;
    background: linear-gradient(to bottom right,#89b5ab, #56867a);
    font-family: 'Pacifico', cursive;
    background-image: url("../../images/kids6.jpg");
    height: 280px;
}