.card {
    height:100px;   
}

#textarea2 {
    margin-left: 30px;
}

#input_text {
    margin-left: 20px;
}

.blue-grey.darken-1 {
    background-color: #546e7a79 !important;
}
.body {
    font-family: 'Pacifico', cursive;
}


